<nav>
  <div class="nav-wrapper purple">
    <a href="#" class="brand-logo center">Yolobrolo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">temp</a></li>
      <li><a href="#">temp</a></li>
      <li><a href="#">temp</a></li>
    </ul>
  </div>
</nav>
